#baseTitle {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#mainTitle {
  border: 1px solid #198754;
  border-radius: 15px;
  width: 437px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 80px;
  padding-left: 80px;
  font-size: 20px;
}

.boxTitleCover {
  margin-top: 1rem;
}
