/* @import "../assets/scss/variables";
@import "../assets/scss/mixins"; */
.ghalebSlick .sliderImageFigure {
  width: 100%;
  height: 100%;
  position: relative;
}

.ghalebSlick .sliderImageFigure .sliderLink {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
}

.ghalebSlick .sliderImageFigure .sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ghalebSlick .sliderImageFigure .sliderDetail {
  position: absolute;
  top: 10%;
  right: 5%;
  width: max-content;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000;
}

@media screen and (max-width: 768px) {
  .ghalebSlick .SliderWrapper {
    height: 350px !important;
  }
}

@media screen and (max-width: 486px) {
  .ghalebSlick .SliderWrapper {
    height: 250px !important;
  }
}

.ghalebSlick .slick-slider,
.ghalebSlick .slick-list {
  width: 100%;
  height: 100%;
}

.ghalebSlick .slick-prev {
  left: -70px !important;
  transform: translateY(-50%);
}

.ghalebSlick .slick-next {
  right: -70px !important;
  transform: translateY(-50%);
}

.ghalebSlick .slick-next::before {
  content: '>';
}

.ghalebSlick .slick-prev::before {
  content: '<';
}

.ghalebSlick .slick-prev::before,
.ghalebSlick .slick-next::before {
  background-color: #1a495e;
  opacity: 1;
  font-family: unset;
  padding: 0.6rem 0.4rem;
  border-radius: 25px;
}

.ghalebSlick .slick-prev,
.ghalebSlick .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.ghalebSlick .slick-dots {
  position: absolute;
  bottom: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.ghalebSlick .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.ghalebSlick .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.ghalebSlick .slick-dots li button::before {
  font-family: "slick";
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 6px;
  content: "";
  text-align: center;
  opacity: 0.5;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ghalebSlick .mySlider .slick-dots li.slick-active button::before {
  opacity: 0.75;
  color: #000;
  background-color: #ff9e9e;
}

.uuuu {
  margin-right: 1rem;
}
